@import "./animation.scss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}

///Variables ///

// #96938f gray/gold
// #8f8a81 natural titanium
///Colors ///
    $turquoise: #024251;
    $gold: #dbb852;
    $gray: #96938f;
    $silver: #d5d5d7;
    $darkFont: #49433d;
::-webkit-scrollbar{
    width: 10px;
    background: gold;
    color: $gray;
}

::-webkit-scrollbar-track {
    width: 10px;
    background: $gray;
}
::-webkit-scrollbar-thumb {
    width: 10px;
    background: $turquoise;
}


///App ///
.main-layout{
    display: flex;
    flex-direction: row;
    background-color: $gray;
}
.content{
        display: flex;
        flex-direction: column;
        max-width: 95vw;
}
.home, .about-section, .skills-section,.projects-section{
    border: 5px solid $gold;
    border-right: none;
}
///Home ///
.home{
    min-height: 100vh;
    width: 95vw;
    background-color: $gray;
    border: 5px solid $gold;
    border-right: none;
    .hero-title-row{
        margin-top: 10vh;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hero-name{
        font-size: 7em;
        margin: 0 10px 0;
        color: $turquoise;
    }
    .hero-name:hover{
      color: #dbb852;
    }
    .hero-title{
        font-size: 1.5em;
        margin: 10px;
        font-weight: 600;
        color:gray;
    }
    .social-icons{
        display: flex;
        flex-direction: row;
        li{
            padding: 6px;
            list-style: none;
            cursor: pointer;
        }

        a{
            text-decoration: none;
            font-size: 35px;
            color: white ;
            cursor: pointer;
            padding: 2px;
        }
        // .sIcon{
        //   cursor: pointer;
        // }
    }
    .basic-button:hover{
        background-color: #dbb852;
        color: $turquoise;
        border-color: $turquoise;
    }
    .contact-button{
        margin-top: 10px;
    }
    .basic-button{
        color: white;
        border-color: white;
        padding: 8px;
        font-size: 19px;
        text-decoration: none;
        border: 2px solid #efd3a6;
        border-radius: 30px;
      }

}

/// Nav ///

.sidenav{
    display: flex;
    height: 100%;
    background-color: $gray;
    width: 5vw;
    justify-content: center;
    z-index: 11111;
    .navigation{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        height: 100vh;
    }
    ul li{
        list-style: none;
    }
    .nav-link{
        display: flex;
        flex-direction: row;
        color: black;
        text-decoration: none;
        img{
            padding: 8px 0;
            width: 40px;
        }
        p{
            font-size: 30px;
            display: none;
        }
    }
}

/// About Section ///

.about-section{
    min-height: 100vh;
    width: 95vw;
    border: 5px solid $gold;
    background-color: $gray;
    color: white;
    padding: 10vh 20vw;
    .profile-image{
        width: 300px;
        border-radius: 50%;
        border: 5px solid $gold;
    }
    .tech-logo{
        width: 96px;
        padding: 5px;
        border: 2px solid $gold;
        margin:10px ;
    }
    .about-row{
        display: flex;
        flex-direction: row;
    }
    .section-1,.section-2{
        display: inline;
    }
    .about-title{
        font-size: 5em;
        padding: 20px;
        color: $turquoise;
        margin: 0;
    }
    .about-text{
        font-size: 20px;
    }
    .tech-row{
        display: flex;
        justify-content: center;
    }
}

///Skills Section ///

.skills-section{
    width: 95vw;
    min-height: 100vh;
    padding: 5vh 20vw;
    display: flex;
    background-color: $gray;
    .skills-content,.experience-content{
        width: 50%;
    }
    .skills-title{
        font-size: 5em;
    }
    .skills-text{
        margin-top: 4vh;
        line-height: 1.7;
        font-size: 18px;
    }
    .skills-bar{

        
        // Target Progress Bar //
        progress {
            border: none;
            background: #2f2f2f;
            border-radius: 15px;
            height: 10px;
            width: 100%;
        }
        // Cross compatibility //
        progress::-moz-progress-bar {
            background: $gold;
            border-radius: 10px;
        }
        
        progress::-webkit-progress-value {
            background-color: $gold;
            border-radius: 10px;
        }
        
        progress::-webkit-progress-bar {
            background: #2f2f2f;
            border-radius: 10px;
        }
    }
    .progress-group{
            padding: 10px 0;
            p{
                font-size: 18px;
                font-weight: 600;
            }
        }
    .experience-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    .e-card{
        border-radius: 5px;
        width: 15vw;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid white;
        background-color: $silver;
        margin-bottom: 5vh;
        text-align: center;
        .e-title{
            font-size: 20px;
        }
        p{
            padding-top:8px
        }
    }
}

///Projects ///

.projects-section{
    width: 95vw;
    min-height: 100vh;
    background-color: $gray;
    display: flex;
    flex-direction: column;

    .projects-title{
        font-size: 5em;
        text-align: center;
        margin-bottom: 2vh;
        margin-top: 5vh;
    }
    .main-content{
       display: flex;
       justify-content: space-around;
        .info-section-left{
            display: none;
        }
    }
    .project-slides{
         width: 23vw;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         row-gap: 1vw;
         text-align: center;
         margin-bottom: 10px;
    }
    .project-card{
        position: relative;
        display: flex;
        width: 100%;
        
    }
    .card-overlay{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .project-text{
        position: relative;
        display: flex;
        align-items: center;
        gap: 2em;
        padding: 1em;
        justify-content: space-around;
        font-size: 1rem;
        background-color: white;
        border-radius: 10px;
    }
    .project-image{
        width: 100%;
        height: auto;
        border-radius: 10px;
        border: 2px solid white;
    }
    
    .animated-content{
        opacity: 0;
        margin-left: -50vw;
        color: $darkFont;
        .animated-project-content{
            row-gap: 2vw;
            gap: 1vw;
            display: flex;
            flex-direction: column;
        }
        //Card Layouts //
        .content-layout-top-row, .content-layout-middle-row,
        .content-layout-bottom-row{
            width: 60vw;
            gap: 1vw;
        }
        //Top Layout //
        .content-layout-top-row{
            display: flex;
        }
        .content-top-left{
            width: 50%;
            font-size: 20px;
            border: 2px solid white;
            border-radius: 10px;
            background-color: $silver;
            display: flex;
            justify-content: center;
            text-align: center;
            .about-box{
                font-size: 25px;
                padding: 10px;
                letter-spacing: 2px;
            }
        }
        .content-top-right{
            width: 63%;
            border: 2px solid white;
            border-radius: 10px;
            background-color: $silver;
            display: flex;
            justify-content: center;
        }
        .animated-content-title{
            font-size: 3.5rem;
            align-content:center ;
        }
        // Middle Layout //
        .content-layout-middle-row{
            display: flex;
        }
        .content-left{
            width: 36%;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 1vw;
            .card-top{
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                align-items: center;
                border-radius: 10px;
                border: 2px solid white;
                background-color: $silver;
                .card-info{
                    border: 2px solid white;
                    width: 95%;
                    border-radius: 10px;
                    margin: 4px;
                    padding: 7px;
                    font-size: 19px;
                    margin-top: 10px;
                    font-weight: bold;

                }
            }
            .card-bottom-left{
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                border: 2px solid white;
                background-color: $silver;
                .card-info{
                    border: 2px solid white;
                    border-radius: 10px;
                    margin: 4px;
                    padding: 7px;
                }
                .tech-key-card{
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    min-height: 200px;
                }
                .tech{
                    display: flex;
                    font-size:30px;
                    padding: 10px;
                }
            }
            .card-title{
                text-align: center;
                font-size: 1.3rem;
                padding: 10px;
            }
            
        }
            .animated-image{
                width: 100%;
                height: auto;
                border-radius: 10px;
                border: 2px solid white;
                opacity: .75;
                min-width: 100%;
            }
        .content-right{
            width: 63%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1vw;
        }
        // Bottom Layout //
        .content-layout-links{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 1vw
        }
        .content-live-preview,
        .content-project-code{
            border: 2px solid white;
            border-radius: 10px;
            background-color: $silver;
            display: flex;
            justify-content: space-around;
            font-size: 30px;
            align-items: center;
            padding: 10px;
            width: 100%;     
        }
    }
    .project-button{
        padding: 10px 20px;
        border-radius: 15px;
        cursor: pointer;
        font-size: 20px;
    }
    .tech-key{
        padding: 20px;
        width: 50px;
    }

    //Tech Bar //
    .tech-bar-card{
        width: 100%;
        padding: 10px;
        border: 2px solid white;
        border-radius: 10px;
        background-color: $silver;
        height: 100%;
        align-content: center;
        .tech-bar-background{
            height: 90%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .tech-bar{
            height: 90%;
        }
    }
    
}