@import "./animation.scss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

///Variables ///

// #96938f gray/gold
// #8f8a81 natural titanium
///Colors ///
    $turquoise: #024251;
    $gold: #dbb852;
    $gray: #96938f;

::-webkit-scrollbar{
    width: 10px;
    background: gold;
    color: $gray;
}

::-webkit-scrollbar-track {
    width: 10px;
    background: $gray;
}
::-webkit-scrollbar-thumb {
    width: 10px;
    background: $turquoise;
}


///App ///
.main-layout{
    display: flex;
    flex-direction: row;
}
.content{
        display: flex;
        flex-direction: column;
}

///Home ///
.home{
    height: 100vh;
    width: 100%;
    background-color: $gray;
    border: 5px solid $gold;
    border-right: none;
    .hero-title-row{
        margin-top: 10vh;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hero-name{
        font-size: 7em;
        margin: 0 10px 0;
        color: $turquoise;
    }
    .hero-name:hover{
      color: #dbb852;
    }
    .hero-title{
        font-size: 1.5em;
        margin: 10px;
        font-weight: 600;
        color:gray;
    }
    .social-icons{
        display: flex;
        flex-direction: row;
        li{
            padding: 6px;
            list-style: none;
            cursor: pointer;
        }

        a{
            text-decoration: none;
            font-size: 35px;
            color: white ;
            cursor: pointer;
            padding: 2px;
        }
        // .sIcon{
        //   cursor: pointer;
        // }
    }
    .basic-button:hover{
        background-color: #dbb852;
        color: $turquoise;
        border-color: $turquoise;
    }
    .contact-button{
        margin-top: 10px;
    }
    .basic-button{
        color: white;
        border-color: white;
        padding: 8px;
        font-size: 19px;
        text-decoration: none;
        border: 2px solid #efd3a6;
        border-radius: 30px;
      }

}

/// Nav ///

.sidenav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // width: 10vw;
    height: 100vh;
    padding: 0 15px;
    position: fixed;
    .navigation{
        
    }
    ul li{
        list-style: none;
    }
    .nav-link{
            display: flex;
            flex-direction: row;
            color: black;
            text-decoration: none;
            img{
                padding: 8px 0;
                width: 40px;
            }
            p{
                font-size: 30px;
                display: none;
            }
    }
}

/// About Section ///

.about-section{
    height: 100vh;
    border: 5px solid $gold;
    background-color: $gray;
    color: white;
    padding: 10vh 20vw;
    .profile-image{
        width: 300px;
        border-radius: 50%;
        border: 5px solid $gold;
    }
    .tech-logo{
        width: 96px;
        padding: 5px;
        border: 2px solid $gold;
        margin:10px ;
    }
    .about-row{
        display: flex;
        flex-direction: row;
    }
    .section-1,.section-2{
        display: inline;
    }
    .about-title{
        font-size: 5em;
        padding: 20px;
        color: $turquoise;
        margin: 0;
    }
    .about-text{
        font-size: 20px;
    }
    .tech-row{
        display: flex;
        justify-content: center;
    }
}